@import './node_modules/normalize.scss/normalize';
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
}

$font-stack-light: 'Lato-Light',
Helvetica,
sans-serif;
* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack-light;
}

img {
    width: 100%;
    display: block;
}

section {
    position: relative;
}

.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.top-section-biker {}

.text-blurb {
    text-align: center;
}

footer {
    .site-map {
        background-image: url("../assets/site-map-bkg.png");
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        .site-button {
            text-align: center;
            padding: 10px 20px;
            width: 25%;
            >div {
                background: #000;
                color: #fff;
                padding: 10px 20px;
            }
        }
    }
    .company-logos {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        >div {
            padding: 20px;
        }
    }
}

.slider-container {
    position: relative;
    .slider-viewer {
        position: relative;
        height: 320px;
        overflow: hidden;
        .slides {
            transform: translateX(-25%);
            transition: 1s;
            position: absolute;
            display: flex;
            >.slide-wrapper {
                flex: 0 0 50%;
                position: relative;
                background: #000;
                img {
                    opacity: 0.3;
                }
                .descriptor-overlay {
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    background-color: black;
                    opacity: 0.4;
                    color: white;
                    visibility: hidden;
                }
            }
        }
    }
}

.presentational-slide {
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%;
    transform: scale(1.025);
    transition: .5s;
    .descriptor-overlay {
        text-align: center;
        position: absolute;
        bottom: 0;
        background-color: black;
        opacity: 0.4;
        color: white;
    }
}

.slider-header {
    position: relative;
    .slider-button {
        width: 25px;
        height: 25px;
        position: absolute;
        transition: .5s;
        &:hover {
            -webkit-box-shadow: 0px 0px 61px 18px rgba(255, 255, 255, 1);
            -moz-box-shadow: 0px 0px 61px 18px rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 61px 18px rgba(255, 255, 255, 1);
        }
    }
}


/*
let startingCoords = [520, 799]
let coords = [[757, 835], [707, 917], [851, 878], [791, 983], [620, 1002], [707, 1063], [777, 1160], [1024, 1044], [1126, 990], [1160, 1106], [1232, 1120], [1286, 1164], [1141, 1367], [1028, 1231]]
function relativeStart(originalCoords, relativeCoords) {
    return relativeCoords.map((coords) => {
        return [coords[0] - originalCoords[0], coords[1] - originalCoords[1]]
    });
}

let coordsPercents = [[52.5,35],[63.13,27.29],[66.67,43.86],[74.17,45.86],[79.79,52.14],[52.81,61.71],[64.69,81.14],[26.77,51.57],[24.69,5.14],[19.48,16.86],[34.48,11.29],[28.23,26.29],[10.42,29],[19.48,37.71]]
*/
